body {
    width: 375px;
    border: 1px solid #a8a8a8;
    margin: 0 auto;
    font-family: "Lato", sans-serif;
    color: #252525;
   
   
}

h2, p {
    font-size: 13px;
}

p {
    padding-left: 13px;
    margin-top: 0px;
   

}

span {
    padding-right: 2px;
}
.bold-text {
    font-weight: 900;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #a8a8a8;

}

.post-info {
    display: flex;
}

.social-icons {
    padding-left: 7px;
}

.social-btn:hover,
.social-btn:focus {
    opacity: 0.6;
    text-decoration: overline;
    transform:scale(0.95);
    
    
}
.user-name {
    margin-bottom: 0;
}
.user-location {
    font-weight: 400;
    margin-top: 0;
}
  
.logo-img{
    width: 125px;
}

.avatar-img, .vg-av-img{
    width: 35px;
    height: 35px;
    border-radius: 100%;
}

.vg-av-img{
    padding: 10px;
}

.vg-post-img{
    width: 375px;
}

.social-btn {
    width: 27px;
    padding: 13px 4px;
}
